@{
    Layout = "_LayoutDash";
    ViewData["Title"] = "Inicio";

}

<div class="dashboard-container">
    <h1 class="display-4 text-center">Bienvenido al Dashboard</h1>
    <p class="text-center">Playlist etc.</p>
</div>
