@{
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="form-container">

    <h2>Login</h2>

    <form method="post" asp-controller="Home" asp-action="Login">
        <div class="form-group">
            <label for="Correo">Correo</label>
            <input type="text" id="Correo" name="Correo" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
    </form>
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger mt-3">
            <span>@ViewBag.ErrorMessage</span>
        </div>
    }
</div>