@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post" asp-controller="Home" asp-action="Login">
    <div>
        <label>Correo</label>
        <input type="text" name="Correo" required />
    </div>
    <div>
        <label>Contraseña</label>
        <input type="password" name="password" required />
    </div>
    <button type="submit">Login</button>
</form>

@if (ViewBag.ErrorMessage != null)
{
    <div>
        <span>@ViewBag.ErrorMessage</span>
    </div>
}
